body {
    padding: 0;
    margin: 0;
    background-color: rgb(36, 36, 36);
}

#mainBody {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#mainBody #title {
    color: white;
    margin: auto;
    font-size: 40px;
    padding: 20px;
}

.div1 {
    margin: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    background-color: rgb(36, 36, 36);
    max-height: 900px;
}

.div1 label {
    color: white;
    padding: 15px;
    border-radius: 5px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 5px 0;
    font-size: 60px;
    text-align: end;
    box-sizing: border-box;


}

#output {

    align-items: end;
    text-align: end;
    position: relative;
    display: flex;
    word-wrap: break-word;
    box-sizing: border-box;
    justify-content: end;
    overflow-wrap: break-word;
    word-break: break-all;
    height: 30%;
}

.div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    box-sizing: border-box;
    gap: 5px;


}

.div2 button {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 100px;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    background-color: rgba(88, 88, 88, 0.603);
    color: white;
    transition: .1s;
    
}

.div2 button:hover {
    background-color: rgb(156, 156, 156);
}

.div2 button:active {
    transform: scale(0.96);
}

.div2 .des {
    background-color: #4361ee;

}
